/*==========RESET==========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
/*==========HEADER==========*/
.header {background: url(../imagens/header_bg.png);}
.header01 {background-color: #212343; padding: 15px 116px 20px;}
.header02 {display: flex; justify-content: space-between; padding: 0 116px;}
.header02a {background-color: rgb(33, 35, 67, 0.7); margin: 100px 0 200px; padding: 50px 250px 80px 40px;}
.header02a ul li {color: white; font-weight: normal;}
.header02a ul li + li {margin-top: 20px;}
.header02b {width: 400px; background-color: white; border: 10px solid #735d58; padding: 15px 0 0 10px;}
.header02b form h2 {font-weight: normal; color: #999999; font-size: 21px;}
.header02b form label {display: inline-block;}
.header02b form label, .header02b form p {color: #999999; margin: 25px 0 10px 0;}
.header02b form input {width: 350px; height: 50px; border: 1px solid #999999;}
form input[type="submit"] {width: 280px; height: 50px; background-color: #323665; color: white; font-size: 25px;
margin: 10px 0 0 40px; border-bottom: 5px solid #4A5097; cursor: pointer;}
@media screen and (max-width: 600px){
    .header01 {display: flex; justify-content: center; align-items: center;}
    .header02 {flex-wrap: wrap; padding: 0;}
    .header02a {width: 100vw; padding: 50px 0 80px 40px;}
    .header02a ul li {width: 100vw;}
    .header02b {width: 100vw;}
    .header02b form input {width: 90vw;}
    form input[type="submit"] {width: 90vw; margin: 10px 0 0 0;}
}
/*==========CONTENT==========*/
.content01 {background-color: #dddddd;}
.content01 h2 {text-align: center; font-weight: normal; padding-top: 40px;}
.content01 p {width: 700px; margin: 0 auto; text-align: justify; margin-top: 15px; line-height: 1.4; padding-bottom: 70px;}
.seta {display: block; width: 40px; margin: 0 auto; margin-top: -20px;}
.content02 {border-bottom: 2px solid #999999; margin-bottom: 30px;}
.content02 > h2 {text-align: center; font-weight: normal; color: #472663; margin: 70px 0 70px;}
.contents02 {display: flex; width: 1080px; margin: 0 auto;}
.contents02 img {display: block; margin: 0 auto; margin-bottom: 10px;}
.contents02 h2 {text-align: center; font-weight: normal; color: #472663; margin-bottom: 15px;}
.contents02 p {text-align: justify; font-weight: normal; line-height: 1.4; font-size: 17px; margin-bottom: 100px;}
.contents02 div + div {margin-left: 100px;}
@media screen and (max-width: 600px){
    .content01 p {width: 95vw; padding: 0 0 40px;}
    .contents02 {flex-wrap: wrap; width: 95vw; padding: 0;}
    .contents02 div + div {margin-left: 0;}
}
/*==========FOOTER==========*/
.footer p, .footer address {text-align: center; margin-bottom: 15px; color: #999;}


